:root {
  --brand-black: #333;
  --link-bottom-black: #ccc;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #F0ECE3;
}
body,
a {
  color: var(--brand-black);
}

.default-link a {
  text-decoration: none;
}

.default-link a:hover {
  border-bottom: var(--link-bottom-black) 1px solid;
}

.react-learning-container {
  max-width: 1110px;
  margin: 0 auto;
}

.react-learning-app {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "sidebar content";
  gap: 10px;
}

.side-nav-bar {
  grid-area: sidebar;
}

.react-learning-app-content {
  grid-area: content;
}

.react-learning-footer {
  position: fixed;
  bottom: 20px;
  background-color: #ccc;
  padding: 10px;
}

/* sidebar */
.side-nav-bar {
  padding: 15px;
  height: 100vh;
}

.side-nav-bar .active {
  color: #000;
}

.side-nav-bar h1 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.side-nav-bar ul {
  list-style-type: none;
}

.side-nav-bar li {
  margin-bottom: 5px;
}

.side-nav-bar a {
  text-decoration: none;
  color: var(--brand-black);
}

.side-nav-bar a:hover {
  border-bottom: var(--link-bottom-black) 1px solid;
}

.list-style-none {
  list-style: none;
}


.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-none {
  list-style-type: none;
}

.btn {
  display: inline-block;
  padding: 10px;
  border: 0;
  margin: 10px;
}